workspace "Gaming"

input {
    keyboard {
        repeat-delay 200
        repeat-rate 30
        xkb {
            layout "us,ru"
            // variant "pc86"
            options "grp:alt_shift_toggle"
        }

    }
   
    mouse {
        // off
        // natural-scroll
        accel-speed -0.3
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}

// by running `niri msg outputs` while inside a niri instance.
output "DP-1" {
    mode "3440x1440@144"
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 4

    center-focused-column "on-overflow"

    always-center-single-column

    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 1.0;}

    focus-ring {
        off
        width 2
    }

    border {
        // off
        width 2
        active-color "#fff"
        inactive-color "#000"
        urgent-color "#9b0000"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}


// prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
    workspace-switch{
        off
    }

}

overview{
    zoom 0.2
    workspace-shadow {
        softness 50
        spread 1
    }

}

window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

//kando
window-rule {
    match title="xmenu"
    open-floating true
    border { off; }
    shadow { off; }

}

//discord drag issue
window-rule {
  match title="^$"
  exclude app-id="com.mitchellh.ghostty"
  open-floating true
}

window-rule {
    match app-id="steam"
    open-on-workspace "Gaming"
}

window-rule{
    match app-id="gamescope"
    open-on-workspace "Gaming"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule{
    match app-id="steam_app_default"
    match title="Hearthstone"
    open-on-workspace "Gaming"
    open-floating true
}
window-rule {
    match app-id="Minecraft Launcher"
    open-on-workspace "Gaming"
    open-floating true
}

window-rule{
    match app-id="CurseForge"
    open-on-workspace "Gaming"
}

window-rule{
    match app-id="net.lutris.Lutris"
    open-on-workspace "Gaming"
    open-floating true
}

window-rule{
    match title="Battle.net"
    open-on-workspace "Gaming"
    open-floating true
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}


environment {
    DISPLAY ":1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1.1"
    QT_SCALE_FACTOR "1.66"
    PROTON_ENABLE_WAYLAND "1"
    _ZO_RESOLVE_SYMLINKS "1"
}


binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+grave repeat=false { toggle-overview; }
    // Mod+MouseLeft+MouseRight repeat=false {toggle-overview;}


    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+MouseForward  { focus-column-left; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+MouseBack  { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    // Mod+Ctrl+Down  { move-window-down; }
    // Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    Mod+Down     { focus-window-or-workspace-down; }
    Mod+Up     { focus-window-or-workspace-up; }
    Mod+Ctrl+Down     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up     { move-window-up-or-to-workspace-up; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }


    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { fullscreen-window; }
    Mod+S {maximize-column;}
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Alt+Tab       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }


    Mod+Ctrl+Home { screenshot; }
    Mod+Home { screenshot-screen; }
    Mod+Alt+Home{ screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

}
clipboard {
    disable-primary
}

